<nb-layout>

    <nb-layout-header class="header">
      <div class="header-wrapper">
        <div class="logo-container">
          <img class="logo" src="../assets/logo.png" style="padding: 10px;">
        </div>
        <div class="btn-container">
          <a class='btn' href="/">Search</a>
          <a class='btn' href="bookmark">Bookmarks</a>
        </div>
      </div>
    </nb-layout-header>
    
  
    
  
    <!-- <nb-layout-footer class="footer" style="padding: 0 !important;">
      <p> Shashank| Copyright | 2023</p>
      
    </nb-layout-footer> -->
    
  
  </nb-layout>